@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;

  background-color: white;

}

.bg {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('./image/bg2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: darken;
  background-position: center;
  height: 54rem;

  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  justify-content: center;

}

.txt1 {
  font-family: inherit;
  /* font-weight: 600; */
  font-size: 16px;
  color: white;
  line-height: 20px;
}

.txt2 {
  font-weight: 900;
  color: white;
}

.content {

  font-weight: bold;
  font-size: 56px;
  color: white;
  line-height: 64px;
}

.content1 {

  font-weight: 400;
  font-size: 16px;
  color: white;
  line-height: 28px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: rgb(179, 179, 179);
}

.site-header {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  background: #003369;
  padding-inline: 80px;
}


.site-identity{
  display: flex;
  font-size: 1.5em;
  margin: 0.6em 0;
  align-items: center;
}
.logo {
  color: white;
  margin-left: 12px;
}

.site-navigation ul,
.site-navigation li {
  margin: 0;
  padding: 0;

}

.site-navigation {
  display: flex;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}

.site-navigation a {
  color: white;
}

.btn {
  border: none;
  color: #232536;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 700;
  background-color: white;
  border-radius: 5px;
}

.btn1 {

  background-color: rgba(255, 208, 80, 1);
  border: none;
  color: #232536;
  font-weight: bold;
  padding: 16px 48px;
  font-size: 16px;
  cursor: pointer;
}

.btn1:hover {
  background-color: rgba(255, 208, 80, 0.8);
}

.table {
  border-collapse: collapse;
  width: 100%;
  align-items: center;
  margin-block: 16px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

th:nth-child(even),
td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}
.title{
  font-weight: 400;
  font-size: 24px;
  color: #232536;
  margin: 0px 20px;
}
.body{
  padding-top: 24px;
  margin : 0px 148px;
  background-color: white;
  padding-bottom: 48px;
}
.App{
  background-color:#eee;
}
.content2{
  line-height: 150%;
  margin: 0px 20px;
}
.gg-play{
  text-decoration: underline;
  margin: 0px 4px;
  color: #009c9c;
}
br{
  margin: 5px 0px;
}
.footer-bg{
padding: 24px 148px;
  background-color: #222;
}
.splash{
  width:40% ;
 
}
.content-app{
  color: aliceblue;
  font-size:32px ;
  line-height: 150%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.bg-body{
  display: flex;
  width: 60%;
  justify-content: center;
 padding: 64px 64px;
}
.bg-body1 {
  display: flex;
 
  background-image: linear-gradient(#003369, #0099DA, #20C997);
  padding: 48px 0px
}